#DB,TABLE,WIDGET;[key:value,key:value]#

twitter,most_active,CircularHeat,[date:created_at]
twitter,most_active,Timeline,[x:created_at]
twitter,most_active,Barchart,[x:lang_primary]
twitter,most_active,Map,[latitude:latitude;longitude:longitude]

akamai,demo,CircularHeat,[date:starttime]
akamai,demo,Timeline,[x:starttime;y:hits]
akamai,demo,Barchart,[x:continent;y:hits]
akamai,demo,Map,[latitude:lat;longitude:lon;color-by:country]

bitcoin,large_value,CircularHeat,[date:date]
bitcoin,large_value,Timeline,[x:date;y:value]

kiva,loans,CircularHeat,[date:posted_date]
kiva,loans,Timeline,[x:borrowers_disbursal_date;y:loan_amount]
kiva,loans,Barchart,[x:status;y:loan_amount]
kiva,loans,Map,[latitude:location_geo_lat;longitude:location_geo_lon;color-by:location_country;size-by:loan_amount]

kiva,lenders,CircularHeat,[date:member_since]
kiva,lenders,Timeline,[x:member_since;y:loan_count]
kiva,lenders,Barchart,[x:invitee_count]
