{
  "name": "@name@",
  "version" : "@version@",
  "author": "Next Century Corporation",
  "devDependencies": {
    "grunt": "~0.4.1",
    "grunt-contrib-jshint": "~0.6.0",
    "grunt-contrib-concat": "~0.3.0",
    "grunt-contrib-jasmine": "~0.5.1",
    "yuidocjs": "~0.3.45"
  }
}
