.map-location {
    position: absolute;
    top: 40px;
    left: 0px;
}

/* override image properties here so openlayers renders properly */
img {
    max-width: none;
}

#map-redraw-button {
    margin-left: 20px;
}

#OpenLayers_Control_Attribution_7 {
    right: 0;
    bottom: 0;
}