.map-location {
    position: absolute;
    top: 40px;
    left: 0px;
}

/* override image properties here so openlayers renders properly */
img {
    max-width: none;
}

#map-redraw-button {
    width: 150px;
}

#OpenLayers_Control_Attribution_7 {
    right: 0;
    bottom: 0;
}

#map {
    /*height cannot be 100% because of the options bar*/
    height: 90%;
    width: 100%;
}