#map {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90%;
    height: 90%;
}

/* override image properties here so openlayers renders properly */
img {
    width: auto;
    height: auto;
    max-width: none;
    vertical-align: baseline;
}

#options-bar {
    width: 90%;
}