# Gradle will run more smoothly with these arguments
org.gradle.jvmargs=-Xmx1024m -XX:MaxPermSize=256m
org.gradle.daemon=true

# Path to a tomcat or other application server.
NEON_SERVER=/my/tomcat/path/apache-tomcat-7.0.39

# Configuration for Mongo
mongo.hosts=localhost

# Configuration for Shark
hdfs.url=hdfs://localhost:8020
hive.host=localhost:10000

# Change the port for acceptance tests
acceptanceTest.port=10102

# Remote application server deployment
host=sometomcathost
user=myusername
sshKeyFile=/path/to/sshkeyfile
# Optionally if you don't have an ssh key file you can put the password in here
# password=sshpassword
