#Version for releases
version=0.4.3

# note that have tests take a long time so -DintegrationTest.single=Mongo can be added to the jvmargs to run only mongo tests
org.gradle.jvmargs=-Xmx1024m -XX:MaxPermSize=256m
org.gradle.daemon=true
NEON_SERVER=/my/tomcat/path/apache-tomcat-7.0.39

# configuration for mongo and hive/hdfs
mongo.hosts=localhost
hdfs.url=hdfs://localhost:8020
hive.host=localhost:10000

# configure port to run neon server during acceptance test
acceptanceTest.port=10102

# remote tomcat deployment
host=sometomcathost
user=myusername
sshKeyFile=/path/to/sshkeyfile

# optionally if you don't have an ssh key file you can put the password in here
# password=sshpassword
