<!DOCTYPE html>
<html>
	<head>
		<title>Memex</title>

		<!-- css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />

		<link rel="stylesheet" type="text/css" href="app/lib/slickgrid/css/slick.grid.css">

		<!--neon-->
		<link rel="stylesheet" type="text/css" href="app/css/directives/circularHeatChart.css">
		<link rel="stylesheet" type="text/css" href="app/css/directives/heatMap.css">
		<link rel="stylesheet" type="text/css" href="app/css/directives/timelineSelector.css" />
		<link rel="stylesheet" type="text/css" href="app/css/directives/timelineSelectorChart.css" />
		<link rel="stylesheet" type="text/css" href="app/css/directives/queryResultsTable.css">

		<!--link rel="stylesheet" type="text/css" href="app/css/neon.css" /-->
		<link rel="stylesheet" type="text/css" href="app/css/app.css" />

		<script src="/neon/js/neon.js"></script>
		<!--script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script-->
		<script src="app/lib/jquery/jquery-1.11.0.min.js"></script>
	</head>
	<body ng-app="memex" ng-controller="neonController">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4">
					<database-config></database-config>
				</div>
				<div class="col-xs-2 col-xs-offset-6 toggles-div">
					<a data-toggle="collapse" data-parent="#trays" href=".filter-tray" class="collapsed filter-toggle"
						ng-click="toggleCreateFilters()">
						<span class="glyphicon glyphicon-filter"></span>
						Create Filters
						<span class="label label-primary" ng-bind="filterCount" ng-class="{true: '', false: 'hidden'}[filterCount > 0]"></span>
					</a>
					<a data-toggle="collapse" data-parent="#trays" href=".data-tray" class="collapsed table-toggle"
					   ng-click="toggleSeeData()">
						<span class="glyphicon glyphicon-list"></span> View Data
					</a>
				</div>
			</div>
			<div class="row">
				<div class="panel-group" id="trays">
					<div filter-builder></div>
					<query-results-table show-data="seeData"></query-results-table>
				</div>
			</div>
			<div class="row">
				<timeline-selector></timeline-selector>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<heat-map></heat-map>
				</div>
				<div class="col-xs-6">
					<p>graph</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<circular-heat-form></circular-heat-form>
				</div>
				<div class="col-xs-6">
				</div>
			</div>

		</div>





		<!-- scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular-resource.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular-route.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!--script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script-->
		<script src="app/lib/d3/d3.v3.min.js"></script>
		<!--script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script-->
		<script src="app/lib/jquery/jquery-ui-1.10.4.min.js"></script>
		<script src="app/lib/jquery/jquery.event.drop-2.2.js"></script>
		<script src="app/lib/jquery/jquery.event.drag-2.2.js"></script>


		<script src="app/lib/slickgrid/js/slick.core.js"></script>
		<script src="app/lib/slickgrid/js/slick.grid.js"></script>
		<script src="app/lib/slickgrid/js/slick.dataview.js"></script>
		<script src="app/lib/slickgrid/plugins/slick.autotooltips.js"></script>
		<script src="app/lib/slickgrid/plugins/slick.rowselectionmodel.js"></script>

		<script src="app/lib/opencpu/opencpu-0.4.js"></script>

		<script src="app/lib/openlayers/OpenLayers.js"></script>
		<script src="app/lib/openlayers/heatmap/heatmap.js"></script>
		<script src="app/lib/openlayers/heatmap/heatmap-openlayers.js"></script>

		<!-- neon utils -->
		<script src="app/js/namespaces.js"></script>
		<script src="app/lib/neon/charts/circularHeatChart.js"></script>
		<script src="app/lib/neon/charts/timelineSelectorChart.js"></script>

		<script src="app/lib/draperLab/draper.activity_logger-2.1.1.js"></script>
		<script src="app/js/xdata/xdataConfig.js"></script>
		<script src="app/lib/neon/tables/table.js"></script>
		<script src="app/lib/neon/neon-extensions/filtertable.js"></script>
		<script src="app/lib/neon/coremap/coremap.js"></script>


		<!-- neon angular -->
		<script src="app/js/controllers/neonController.js"></script>

		<script src="app/js/services/connectionService.js"></script>
		<script src="app/js/services/filterCountService.js"></script>

		<script src="app/js/directives/circularHeatChart.js"></script>
		<script src="app/js/directives/circularHeatForm.js"></script>
		<script src="app/js/directives/databaseConfigDirective.js"></script>
		<script src="app/js/directives/filterBuilderDirective.js"></script>
		<script src="app/js/directives/heatMap.js"></script>
		<script src="app/js/directives/queryResultsTable.js"></script>
		<script src="app/js/directives/timelineSelector.js"></script>
		<script src="app/js/directives/timelineSelectorChart.js"></script>

		<script src="app/js/app.js"></script>
	</body>
</html>