metadata {
	init {
		// The "init" section contains any data that widgets use as part of their startup.
		// List as many widgets as desired
		// The format is:
		/*
		widgetName {
			initDataJson = '{"key":"value"}'
		}
		*/
	}
	columns {
		// The "columns" section contains any information identifying the data type of a particular column
		// in a database/table pair. In each section, list as any many databasses/tables/fields as desired.
		// Any value in the fieldName section that does not appear will default to false
		// The format is:
		/*
		databaseName {
			tableName {
				fieldName {
					numeric = true|false
					logical = true|false
					temporal = true|false
					array = true|false
					object = true|false
					text = true|false
					heterogeneous = true|false
					nullable = true|false						
				}
			}
		}
		*/
	}
	widgets {
		// The "widgets" section defines mappings for a particular dataset and specifies which
		// HTML elements will default to which values. This makes pre-configuring setup for
		// different widgets simpler.
		// The format is:
		/*
		databaseName {
			tableName {
				widgetName {
					elementIdSelector {
						value = <default-selector-value>
					}
				}
			}
		}
		*/
	}
}
