{
  "name": "@name@",
  "version" : "@version@",
  "author": "Next Century Corporation",
  "devDependencies": {
    "grunt-cli": "0.1.13",
    "grunt-contrib-jshint": "0.11.2",
    "grunt-contrib-concat": "0.5.1",
    "grunt-contrib-jasmine": "0.5.1",
    "grunt-contrib-uglify": "0.10.1",
    "grunt-jscs": "1.8.0",
    "yuidocjs": "0.7.0"
  }
}
