body, html {
	height: 100%;
}
body{
	background-color: #FFFFFF;
}
.well{
	background-color: #FFFFFF;
	box-shadow: none;
	border: 0;
	margin: 0;
	padding: 20px 20px 0;
}
.well-blank{
	padding: 20px 20px 0;
}
.well-map{
	padding: 0;
}
.container{
	max-width: none;
	width: auto;
}
.chart-options .popover {
    right: 9px;
    top: 48px;
}

/* Circular heat chart */
.circularheatform,
.circularheatform .well{
	height: 100%;
}
.circularheatchart{
	height: calc(100% - 72px);
	min-height: 150px;
}
.circularheatchart svg {
	max-width: 100%;
	max-height: 100%;
	min-width: 150px;
	min-height: 150px;
}
@media (max-width: 650px) {
	.circularheatform h4{
		font-size: 14px;
		margin-bottom: 15px;
	}
}

/* Data Selector */
.databaseConfig .modal-open{
	overflow: auto;
}
.databaseConfig .database-overlay{
	display: none;
}
.databaseConfig .overlay-above{
	position: absolute;
	z-index: 1051;
	left: 20px;
	top: 20px;
}
.databaseConfig a.dropdown-toggle {
	border: 0;
	background-color: #39b54a;
	color: #FFFFFF;
	padding: 10px 30px;
	border-radius: 3px;
	font-weight: bold;
}
.databaseConfig a.dropdown-toggle:hover,
.databaseConfig a.dropdown-toggle:focus {
	background-color: #2f9f3e;
	color: #FFFFFF;
}
.databaseConfig .popover.bottom{
	margin-top: 0;
}
.databaseConfig .navbar-nav{
	margin: 0;
}
.databaseConfig .navbar-nav .open .dropdown-menu {
	position: absolute;
	float: left;
	margin: 2px 0 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.databaseConfig .dropdown-menu .divider,
.databaseConfig .dropdown-menu li:last-child{
	display: none;
}
.databaseConfig .modal{
	display: block !important;
	opacity: 1;
	position: relative;
	overflow: auto;
}
.databaseConfig .modal .modal-dialog {
	width: auto;
	margin: 0;
	transform: none;
	-webkit-transform: none;
}
.databaseConfig .modal .modal-content {
	box-shadow: none;
	border: 0;
	border-radius: 0;
}
.databaseConfig .modal .modal-header{
	border: 0;
}
.databaseConfig .modal .modal-header h4,
.databaseConfig .modal .modal-header .close{
	visibility: hidden;
}
.databaseConfig .modal .modal-body{
	padding-bottom: 5px;
}
.databaseConfig .modal .modal-footer{
	border: 0;
	margin: 0;
	padding-top: 0;
	padding-bottom: 10px;
}
.databaseConfig .modal .modal-footer .btn-default{
	display: none;
}
@media (min-width: 1200px) {
	.databaseConfig .form-group {
		float: left;
		width: 50%;
		padding: 0 15px;
	}
	.databaseConfig .col-md-6 {
		padding: 0;
	}
}

/* Filter Builder tray */
.tray {
	position: relative;
	display: block;
	top: auto;
	background-color: #FFFFFF;
	border: 0;
	box-shadow: none;
	margin: 0;
}
.tray .panel-body{
	padding: 10px 20px;
}
.filter-tray .filter{
	background-color: #f1f1f1;
}
.filter-tray .filter-new {
	background: none;
}
.tray .panel-body{
	padding-bottom: 0;
}

@media (max-width: 767px) {
	.filter-tray .form-inline .form-control {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
	}
	/*.filter-tray .form-inline .btn-primary {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		padding-left: 0;
		padding-right: 0;
	}*/
	.filter-tray .form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
		width: 22%;
		margin: 0;
		padding-right: 5px;
	}
	.filter-tray .form-inline .form-group.pull-right {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
		width: auto;
	}
}

/* Data tray */
.query-results-table,
.data-tray,
.tray .panel-body {
    height: 100%;
}
.query-results-grid {
	height: 300px;
	height: calc(100% - 69px) !important;
	min-height: 150px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.query-results-grid {
		height: calc(100% - 108px) !important;
	}
}
@media (max-width: 767px) {
	.query-results-grid {
		height: calc(100% - 140px) !important;
	}
}

/* Timeline selector */
.timeline-selector,
.timeline-selector .well{
	height: 100%;
}
.timeline-selector-chart{
	height: calc(100% - 61px);
	min-height: 50px;
}
.timeline-selector{
	margin: 0;
}
.timeline-selector h3 {
	margin-top: -7px;
}
.timeline-selector .btn-group{
	margin-top: 0;
}
.timeline-selector-chart .brush .mask{
	fill: #FFFFFF;
}
.timeline-selector-chart .axis path {
    stroke: #FFFFFF;
}
.timeline-selector .filter-reset {
	margin-top: 0px;
}
.timeline-selector .filter-reset .btn {
	background-color: #e1e1e1;
}
@media (max-width: 891px) {
	.timeline-selector h3 {
		font-size: 20px;
	}
}
@media (max-width: 767px) {
	.timeline-selector h3 {
		font-size: 17px;
	}
}

/* Heat map */
.heat-map{
	height: 100%;
}
.heat-map .olMap {
	height: calc(100% - 50px) !important;
	min-height: 120px;
	min-width: 120px;
	border-radius: 0;
	border-width: 1px 0 0;
}
.heat-map .map-field-form {
	padding: 10px 15px 5px;
}
.well-map .chart-options .popover {
    top: 38px;
	right: 4px;
}

/* Line chart */
.chart-well{
	height: 100%;
}
.chart-well linechart{
	display: block;
	height: 250px;
	height: calc(100% - 55px);
	min-height: 75px;
}
.linechart{
	height: 100%;
	margin: 0 -20px;
}


/* Tag cloud */
@media (max-width: 767px) {
	.tagcloud {
		font-size: 12px;
	}
}
@media (max-width: 500px) {
	.tagcloud {
		font-size: 10px;
	}
}