body{
	background-color: #FFFFFF;
}
.well{
	background-color: #FFFFFF;
	box-shadow: none;
	border: 0;
	margin: 0;
	padding-bottom: 0;
}
.well-blank{
	padding: 30px 30px 0;
}
.container{
	max-width: none;
	width: auto;
}

/* Circular heat chart 
.circularheatchart svg {
	max-width: 400px;
}*/

/* Data Selector */
.databaseConfig .modal-open{
	overflow: auto;
}
.databaseConfig .database-overlay{
	display: none;
}
.databaseConfig .overlay-above{
	position: absolute;
	z-index: 1051;
	left: 20px;
	top: 20px;
}
.databaseConfig a.dropdown-toggle {
	border: 0;
	background-color: #39b54a;
	color: #FFFFFF;
	padding: 10px 30px;
	border-radius: 3px;
	font-weight: bold;
}
.databaseConfig a.dropdown-toggle:hover,
.databaseConfig a.dropdown-toggle:focus {
	background-color: #2f9f3e;
	color: #FFFFFF;
}
.databaseConfig .popover.bottom{
	margin-top: 0;
}
.databaseConfig .navbar-nav{
	margin: 0;
}
.databaseConfig .navbar-nav .open .dropdown-menu {
	position: absolute;
	float: left;
	margin: 2px 0 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.databaseConfig .dropdown-menu .divider,
.databaseConfig .dropdown-menu li:last-child{
	display: none;
}
.databaseConfig .modal{
	display: block !important;
	opacity: 1;
	position: relative;
	overflow: auto;
}
.databaseConfig .modal .modal-dialog {
	width: auto;
	margin: 0;
	transform: none;
	-webkit-transform: none;
}
.databaseConfig .modal .modal-content {
	box-shadow: none;
	border: 0;
	border-radius: 0;
}
.databaseConfig .modal .modal-header{
	border: 0;
}
.databaseConfig .modal .modal-header h4,
.databaseConfig .modal .modal-header .close{
	visibility: hidden;
}
.databaseConfig .modal .modal-body{
	padding-bottom: 5px;
}
.databaseConfig .modal .modal-footer{
	border: 0;
	margin: 0;
	padding-top: 0;
	padding-bottom: 10px;
}
.databaseConfig .modal .modal-footer .btn-default{
	display: none;
}
@media (min-width: 1200px) {
	.databaseConfig .form-group {
		float: left;
		width: 50%;
		padding: 0 15px;
	}
	.databaseConfig .col-md-6 {
		padding: 0;
	}
}

/* Filter Builder tray */
.tray {
	position: relative;
	display: block;
	top: auto;
	background-color: #FFFFFF;
	border: 0;
	box-shadow: none;
	margin: 0;
}
.filter-tray .filter{
	background-color: #f1f1f1;
}
.filter-tray .filter-new {
	background: none;
}
.tray .panel-body{
	padding-bottom: 0;
}

/* Timeline selector */
.timeline-selector{
	margin: 0;
}
.timeline-selector .btn-group{
	margin-top: 0;
}
.timeline-selector-chart .brush .mask{
	fill: #FFFFFF;
}