<div class="circular-drilldown-form well">
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <ul id="breadcrumbs-two">
                <li><a id="year5Button" href="#">5-Year</a>
                </li>
                <li><a id="yearButton" href="#">Year</a>
                </li>
                <li><a id="monthButton" href="#">Month</a>
                </li>
                <li><a id="weekButton" href="#">Week</a>
                </li>
                <li><a id="dayButton" href="#">Day</a>
                </li>
                <li><a id="hourButton" href="#">Hour</a>
                </li>
                <li><a id="nowButton" href="#">Now</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        </br>
        </br>
    </div>
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <div id="chart" class="circulardrilldownchart"></div>
        </div>
    </div>
</div>