<div class="overlay database-overlay" ng-class="{true: 'sr-only', false: ''}[activeServer != 'Choose dataset']"></div>

<ul class="nav navbar-nav overlay-above">
  <li class="dropdown">
    <a data-toggle="dropdown" ng-bind="activeServer" class="dropdown-toggle primary" href="#" ng-click="clearPopover = 'sr-only'"><b class="caret"></b></a>
    <ul class="dropdown-menu">

      <li ng-repeat="server in servers" ng-class="{true: 'active', false: ''}[server.name == activeServer]">
        <a href="#" ng-click="connectToPreset(server)" ng-bind="server.name"></a>
      </li>

      <li class="divider"></li>
      <li ng-class="{true: 'active', false: ''}[activeServer == 'Custom' || !(servers.length > 0)]">
        <a data-toggle="modal" href="#customConnectionModal" ng-click="openedCustom()">Custom...</a>
      </li>

    </ul>
  </li>

  <div class="popover fade bottom in {{clearPopover}}" style="display: block; top: 51px;">
    <div class="arrow"></div>
    <h3 class="popover-title">Start here!</h3>
    <div class="popover-content">
      <p>First you must select a dataset from the dropdown menu. You can use a preset dataset or click Custom to configure your own.</p>
    </div>
  </div>

</ul>

<div class="modal fade" id="customConnectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="customConnectionModalLabel">Custom Connection</h4>
      </div>
      <div class="modal-body">
        
        <div class="row">

          <div class="col-md-6">

            <div class="form-group">
              <label for="datastore-select">Datastore Type</label>
              <select id="datastore-select" class="form-control" ng-model="datastoreSelect">
                <option value="mongo">Mongo</option>
                <option value="shark">Shark</option>
              </select>
            </div>

          </div>

          <div class="col-md-6">

            <div class="form-group">
              <label for="hostname-input">Datastore Host Name</label>
              <div class="input-group">
                <input class="form-control" type="text" id="hostname-input" ng-model="hostnameInput" />
                <span class="input-group-btn">
                  <button class="btn btn-default" id="datastore-button" ng-click="connectToDataServer()">Continue</button>
                </span>
              </div>
            </div>

          </div>

        </div>

        <div class="row">

          <div class="col-md-6">

            <div class="form-group">
              <label for="database-select">Database Name</label>
              <select id="database-select" class="form-control" ng-change="selectDatabase()" ng-model="selectedDb" ng-options="db for db in databases" ng-disabled="!(isConnected)">
                <option value="">Select Database</option>
              </select>
            </div>

          </div>

          <div class="col-md-6">

            <div class="form-group">
              <label for="table-select">Table Name</label>
              <select id="table-select" class="form-control" ng-change="selectTable()" ng-model="selectedTable" ng-disabled="!(dbTables.length > 0)" ng-options="table for table in dbTables">
                <option value="">Select Table</option>
              </select>
            </div>

          </div>

        </div>

        <h4>Choose field mappings</h4>

        <div class="row">

          <div class="col-md-6" ng-repeat="field in fields">
            <div class="form-group">
              <label for="{{field.name}}-mapping" ng-bind="field.label"></label>
                <select id="{{field.name}}-mapping" class="form-control" ng-change="selectField()" ng-model="field.selected" ng-disabled="!(tableFields.length > 0)" ng-options="field for field in tableFields">
                  <option value="">Select Field</option>
                </select>
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="database-table-button"
            ng-disabled="selectedTable === null || selectedDb === null" 
            ng-click="connectClick()">Connect</button>
      </div>
    </div>
  </div>
</div>
