<div class="map-field-form">

    <div class="chart-options pull-right">
		<a class="btn btn-lg text-muted collapsed" data-toggle="collapse" data-target="#chart-options" data-animation=false>
		  <span class="glyphicon glyphicon-cog"></span>
		  <span class="caret"></span>
		</a>
		<div id="chart-options" class="popover bottom">
			<div class="arrow"></div>
			<div class="popover-content">
				<div class="form-group">
					<label>Cache</label>
					<div class="btn-group">
						<label class="btn btn-default" ng-class="{true: 'active', false: ''}[cacheMap]">
							<input type="radio" ng-model="cacheMap" style="display:none" ng-value="true">
							ON
						</label>
						<label class="btn btn-default" ng-class="{true: '', false: 'active'}[cacheMap]">
							<input type="radio" ng-model="cacheMap" style="display:none" ng-value="false"> 
							OFF
						</label>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="form-group">
					<label>Map Layer</label>
					<div class="btn-group">
					  <label class="btn btn-default active" ng-class="{true: '', false: 'active'}[showPoints]"
				          data-toggle="tooltip" data-placement="top" title="Clusters" data-container="body" data-trigger="hover focus">
				        <input type="radio" ng-model="showPoints" style="display:none" ng-value="false"> 
				        <span class="glyphicon glyphicon-cloud"></span>
				      </label>
				      <label class="btn btn-default" ng-class="{true: 'active', false: ''}[showPoints]" 
				          data-toggle="tooltip" data-placement="top" title="Points"  data-container="body" data-trigger="hover focus">
				        <input type="radio" ng-model="showPoints" style="display:none" ng-value="true">
				        <span class="glyphicon glyphicon-map-marker"></span>
				      </label>
				    </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-inline" ng-class="{true: '', false: 'hidden'}[showPoints]">
		<div class="form-group">
			<label>Size by</label>
			<select class="form-control" ng-model="sizeByField" ng-disabled="!(fields.length > 0)" 
			    ng-options="field for field in fields">
			</select>
		</div>
		<div class="form-group">
			<label>Color by</label>
			<select class="form-control" ng-model="colorByField" ng-disabled="!(fields.length > 0)" 
			    ng-options="field for field in fields">
			</select>
		</div>
		<div class="form-group sr-only">
			<label>Lat</label>
			<select class="form-control" ng-model="latitudeField" ng-disabled="!(fields.length > 0)" 
			    ng-options="field for field in fields">
			</select>
		</div>
		<div class="form-group sr-only">
			<label>Lon</label>
			<select class="form-control" ng-model="longitudeField" ng-disabled="!(fields.length > 0)" 
			    ng-options="field for field in fields">
			</select>
		</div>
	</div>

	<div class="map-legend heat-legend" ng-class="{true: 'hidden', false: ''}[showPoints]">
        <div class="map-legend-item">
        	<span class="map-legend-text">High</span>
        	<span class="map-legend-icon" style="background-color: #fb5c44"></span>
        	<span class="map-legend-icon" style="background-color: #e9ed3d"></span>
        	<span class="map-legend-icon" style="background-color: #65f13d"></span>
        	<span class="map-legend-icon" style="background-color: #55cde9"></span>
        	<span class="map-legend-icon" style="background-color: #6374e5"></span>
        	<span class="map-legend-text">Low</span>
        </div>
    </div>

	<div class="map-legend" ng-class="{true: '', false: 'hidden'}[showPoints]">
        <div class="map-legend-item" ng-repeat="colorMapping in colorMappings|limitTo:10">
        	<span class="map-legend-icon" style="background-color: {{colorMapping.color}}"></span>
        	<span class="map-legend-text">{{colorMapping.category}}</span>
        </div>
        <div class="map-legend-item" ng-class="{true: '', false: 'hidden'}[colorMappings.length > 10]">
        	<span class="map-legend-text text-muted">...and {{colorMappings.length-10}} more</span>
        </div>
    </div>
    
	<span class="alert alert-danger" ng-class="{true: 'show', false: 'hidden'}[error !== undefined && error.length > 0]" ng-bind="error">foo</span>
</div>

<!-- chart directive here -->