<div class="well">
	<div class="form-inline">
		<div class="form-group sr-only">
			<label>Lat</label>
			<select class="form-control">
				<option value="">lat</option>
			</select>
		</div>
		<div class="form-group sr-only">
			<label>Lon</label>
			<select class="form-control">
				<option value="">lon</option>
			</select>
		</div>
		<div class="form-group">
			<label>Size by</label>
			<select class="form-control">
				<option value="">count</option>
			</select>
		</div>
		<div class="form-group">
			<label>Color by</label>
			<select class="form-control">
				<option value="">sentiment</option>
			</select>
		</div>
	</div>

	<!-- chart directive here -->
</div>