<div class="container panel-body">

	<h4 class="pull-left">Showing <span class="count text-primary">4,421</span> of 344,214 rows</h4>

	<div class="pull-right">
		<input type="text" class="form-control" placeholder="Search">
	</div>

	<div class="clearfix"></div>

	<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Field</th>
				<th>Field</th>
				<th>Field</th>
				<th>Field</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
				<td>Value</td>
			</tr>

		</tbody>
	</table>
	</div>

</div>
