<div class="tray-mirror data-tray collapse">
  <div class="inner" style="height: 394px"></div>
</div>

<div id="data-tray" class="tray data-tray panel panel-default collapse">
	<div class="container panel-body">

		<h4 class="pull-left">Showing 
			<span class="count text-primary" ng-bind="tableOptions.data.length"></span> of 
			<span ng-bind="totalRows"></span>
		</h4>

		<div class="form-inline pull-right">
		    <form name="dataTableForm">
		       	
	        	<div class="form-input-group">
	        		<label>Sort By</label>

		        	<div class="input-group">
				        <select class="form-control" ng-model="sortByField" ng-disabled="!(fields.length > 0)" ng-options="field for field in fields">
				        </select>
				    
					    <div class="input-group-btn">
					        <label class="btn btn-default active" ng-class="{true: 'active', false: ''}[sortDirection === ASCENDING]">
					          <input type="radio" ng-model="sortDirection" style="display:none" ng-value="ASCENDING"> ASC
					        </label>
					        <label class="btn btn-default" ng-class="{true: 'active', false: ''}[sortDirection === DESCENDING]">
					          <input type="radio" ng-model="sortDirection" style="display:none" ng-value="DESCENDING"> DESC
					        </label>
						</div>
					</div>
				</div>	


		        <div class="form-group">
				    <label>Limit</label>
				    <input type="number" min="1" name="limitInput" class="form-control" ng-model="limit"
				        ng-class="{true: '', false: 'has-error'}[dataTableForm.limitInput.$error.number]">
			    </div>
		        <button type="button" class="btn btn-default refresh" ng-click="refreshData()">
		            <span class="glyphicon glyphicon-refresh"></span>
		        </button>
		    </form>
	    </div>

		<div class="clearfix"></div>

		<div class="query-results-grid">

	</div>
</div>