<div class="well well-blank">
    <form>
  	   <div class="btn-group pull-right">
        <label class="btn btn-default active" ng-class="{true: 'active', false: ''}[granularity === 'day']">
          <input type="radio" style="display:none" ng-model="granularity" value="day"> Day
        </label>
        <label class="btn btn-default" ng-class="{true: 'active', false: ''}[granularity === 'hour']">
          <input type="radio" style="display:none" ng-model="granularity" value="hour"> Hour
        </label>
      </div>
      <div class="filter-reset pull-right" ng-class="{true: '', false: 'hidden'}[brush.length > 0]">
        Filter
        <a class="btn" ng-click="clearBrush()">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </div>
    </form>
    <h3><span class="count count-large text-primary" ng-bind="recordCount | number"></span> records 
    <span ng-bind="(startDateForDisplay) ? ' from ' : ''"></span>
    <span ng-bind="(startDateForDisplay && granularity === 'hour') ? (startDateForDisplay.toISOString() | date: 'MMM d, yyyy HH:mm') : ''"></span>
    <span ng-bind="(startDateForDisplay && granularity === 'day') ? (startDateForDisplay.toISOString() | date: 'MMMM d, yyyy') : ''"></span>
    <span ng-bind="(endDateForDisplay) ? ' to ' : ''"></span>
    <span ng-bind="(endDateForDisplay && granularity === 'hour') ? (endDateForDisplay.toISOString() | date:'MMM d, yyyy HH:mm') : ''"></span>
    <span ng-bind="(endDateForDisplay && granularity === 'day') ? (endDateForDisplay.toISOString() | date:'MMMM d, yyyy') : ''"></span>
    <span ng-bind="(startDateForDisplay) ? '(Z)' : ''"></span></h3>
	<div timeline-selector-chart timeline-data="data" timeline-brush='brush' extent-dirty='extentDirty'></div>
</div>