

#slider {
    /* fix for chrome redraw bug that leaves a stray mark when dragging sometimes */
    outline: 1px solid rgba(0,0,0,0);
}

#redraw-bounds {
    width: 150px;
    margin-bottom: 10px;
}

#reset-filter {
    width: 150px;
}