
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

select, select option, input[type="number"] {
    background-color: #666666;
    color: #cccccc;
}

.configuration-dropdown {
    width: 150px;
}

label[for] {
    font-size: 10px;
    text-transform: uppercase;
}

.container {
    padding: 10px;
}

.control-group {
    display: inline-block;
    vertical-align: top;
}

.radio-inline, .btn-group {
    display: inline;
}

.toggle {
    height: 30px;
}

.options {
    padding: 5px;
}

.toggle-image {
    float: right;
    margin-top: 5px;
}

.options-bar {
    position: fixed;
    top: 5px;
    right: 5px;
    height: auto;
    width: 160px;
    z-index: 2000;
    color: #cccccc;
    background-color: black;
    border: 1px solid #cccccc;
}

.options-label {
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

.grid-canvas {
    /* in case there are empty rows widgets that use the table, color it the same as cell color */
    /*background-color: #FFFFFF;*/
    background-color: black;
}

.even .slick-cell {
    background-color: #333333;
    color: #cccccc;
}

.odd .slick-cell {
    background-color: #414141;
    color: #cccccc;
}

.slick-header-column {
    color: #cccccc;
    background: black;
}