
#table {
    position: absolute;
    bottom: 0;
    top: 40px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
}

#sort-buttons {
    display: block;
    margin-top: 20px;
}

#table-options {
    width: 175px;
}

#sort-field {
    border-radius: 4px;
}

#limit {
    width: 135px;
}

#sort-ascending, #sort-descending {
    border-color: #e6e6e6;
}

.slick-row .selected{
    background-color: black;
    color: white;
}