#circularheatchart {
    width: 800px;
    height: 400px;
}

#date {
    background-color: silver;
    color: black;
}

.container {
    padding: 10px;
    background-color: black;
    color: white;
}

.control-group {
    display: inline-block;
    vertical-align: top;
}