#plot {
    font: 10px sans-serif;
    text-align: right;
    background-color: white;
}

#slider {
    /* fix for chrome redraw bug that leaves a stray mark when dragging sometimes */
    outline: 1px solid rgba(0,0,0,0);
}

rect.active {
    fill: steelblue;
}

rect.inactive {
    fill: lightgrey;
}

.axis {
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    stroke: darkgrey;
    stroke-width: 1px;
    fill: none;
}