.linechart{
  margin: 0 -30px 0;
}
.linechart svg{
	font-size: 10px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #cccccc;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.linechart .y.axis text{
  text-shadow: 0 2px 0 #FFFFFF;
  font-weight: bold;
  fill: #555555;
}
.linechart .y.axis .tick:first-child,
.linechart .y.axis path,
.linechart .y.axis .tick line{
  display: none;
}

.linechart .horizontalGrid{
  fill: none;
  shape-rendering: crispEdges;
  stroke: #eeeeee;
  stroke-width : 1px;
  stroke-dasharray: 6px;
}
.linechart .gridLines .horizontalGrid:first-child{
  stroke-dasharray: 0;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.line.positiveLine {
  stroke: #39b54a;
}

.line.negativeLine {
  stroke: #C2360D;
}

.linechart .dot{
    stroke: #39b54a;
    stroke-width: 2px;
    fill: #FFFFFF;
}
.dot.positiveLine {
  stroke: #39b54a;
}

.dot.negativeLine {
  stroke: #C2360D;
}