#circularheatchart {
    width: 360px;
    height: 360px;
    margin: auto;
}

svg {
    width: 360px;
    height: 360px;
    display: block;
    margin: auto;
}

<<<<<<< HEAD
#options-bar {
    width: 230px;
}
=======
svg .segment {
    fill: white;
}

>>>>>>> Fixed coloring of labels in circular heat chart so they are visible.
