#circularheatchart {
    width: 360px;
    height: 360px;
    margin: auto;
    color: white; /*text around the chart is not showing up*/
}

svg {
    width: 360px;
    height: 360px;
    display: block;
    margin: auto;
}

#options-bar {
    width: 230px;
}