#map {
    position: absolute;
    top: 20px;
    left: 20px;
    /** TODO: NEON-583 next two lines make map reactive, temporarily disabled until a better solution is found
    width: 90%;
    height: 90%;**/
    width: 924px;
    height: 394px;
}

/* override image properties here so openlayers renders properly */
img {
    width: auto;
    height: auto;
    max-width: none;
    vertical-align: baseline;
}

.options-bar {
    width: 905px;
}