#map {
    width: 800px;
    height: 400px;
}
#latitude, #longitude, #size-by, #color-by {
    background-color: silver;
    color: black;
}

.container {
    padding: 10px;
}

.control-group {
    display: inline-block;
    vertical-align: top;
}

/* override image properties here so openlayers renders properly */
img {
    width: auto;
    height: auto;
    max-width: none;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}
