#map {
    width: 800px;
    height: 400px;
}
.dropdown {
    background-color: silver;
    color: black;
    width: 200px;
}

.container {
    padding: 10px;
}

.control-group {
    display: inline-block;
    vertical-align: top;
}

/* override image properties here so openlayers renders properly */
img {
    width: auto;
    height: auto;
    max-width: none;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
}

#tabs-1 {
    position: fixed;
    top: 10px;
    left: 75px;
}

#options {
    position: fixed;
    top: 39px;
    left: 10px;
}

#map {
    position: fixed;
    top: 80px;
    left: 80px;
}