#map {
    width: 800px;
    height: 400px;
}
.dropdown {
    background-color: silver;
    color: black;
    width: 200px;
}

.container {
    padding: 10px;
}

.control-group {
    display: inline-block;
    vertical-align: top;
}

/* override image properties here so openlayers renders properly */
img {
    width: auto;
    height: auto;
    max-width: none;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: black;
    color: white;
}

#toggle {
    background-color: #f0f0f0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

#options {
    background-color:#f0f0f0;
    color: black;
    padding-left: 5px;
    padding-top: 5px;
    width: 820px;
    border-radius: 15px;
}

#toggle-image {
    height: 30px;
    width: 30px;
}

#options-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2000;
    opacity: .9;
}