

.container {
    margin-left: 0px;
    width: auto;
}
.filter-dropdown {
    display: inline-block;
    vertical-align: top;
    width:30%;
}

#datastore-container, #db-table{
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 0 10px 10px;
    margin: 5px 0 5px 0;
    width: 395px;
    height: 100px;
}

#filter-container {
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 0 10px 10px;
    margin: 5px 0 5px 0;
    width: 70%;
    height: auto;
    min-width: 465px;
}

#update-filter-button, #remove-filter-button {
    margin-top: 5px;
}

#database-table-button, #datastore-button {
    margin-right: 20px;
    margin-top: 25px;
}

#radio-buttons {
    margin-left: 160px;
}