
.overlay {
    fill: none;
    pointer-events: all;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.edge {
    stroke: #999;
}

#graph {
	background-color: #c3c3c3;
	width:1200px;
	height:800px;
}

